@page
@model AuditoriasModel
@{
    ViewData["Title"] = "Home page";
}

<center>
    <div>
        <form method="POST" enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div align="left">
                <h3>Auditorias</h3>
            </div>

            <div>
                <input type="submit" value="Refrescar"
                       class="btn btn-secondary"
                       asp-page-handler="BtRefrescar" />
            </div>

          

            @if (ViewData.ContainsKey("Mensaje"))
            {
                @await Html.PartialAsync("../Emergentes/Mensajes.cshtml")
                ;
            }

            @if (Model.Venta != null && Model.Borrando)
            {
                <div class='popup'>
                    <div class='pp_ms_inner'>
                        <div style='width:95%'>
                            <h2 align="left">Mensaje</h2>
                            <h6 align="left">¿Desea borrar la Auditoria?</h6>
                            <h6 align="left">@Model.Venta!.Id</h6>
                            <input type="submit" value="Cerrar"
                                   asp-page-handler="BtCerrar"
                                   class="btn btn-secondary" />
                            <input type="submit" value="Borrar"
                                   asp-page-handler="BtBorrar"
                                   class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }

            @if (Model?.Lista?.Count > 0)
            {
                <table class="tb_data table table-striped table-bordered table-hover">
                    <tr>
                        <th>Id</th>
                        <th>Entidad</th>
                        <th>Accion</th>
                        <th>Fecha</th>
                        <th>Descripcion</th>
                        <th>Usuario</th>
                        <th>Acciones</th>
                    </tr>
                    @foreach (var elemento in Model.Lista)
                    {
                        <tr>
                            <td>@elemento.Id</td>
                            <td>@elemento.Entidad</td>
                            <td>@elemento.Accion</td>
                            <td>@elemento.Fecha</td>
                            <td>@elemento.Descripcion</td>
                            <td>@elemento._Usuarios?.Nombre</td>
                            <td>
                                <input type="submit" value="Borrar"
                                       asp-page-handler="BtBorrarVal"
                                       class="btn btn-secondary"
                                       asp-route-data="@elemento.Id" />
                            </td>
                        </tr>
                    }
                </table>
            }
        </form>
    </div>
</center>

