@page
@model MetodosDePagosModel
@{
    ViewData["Title"] = "Pago Facturas";
}

<center>
    <div>
        <form method="POST"
              enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div align="left">
                <h3>Metodos de pagos</h3>
            </div>

            <div>
                <input type="submit"
                       value="Refrescar"
                       class="btn btn-secondary"
                       asp-page-handler="BtRefrescar" />
                <input type="submit"
                       value="Nuevo"
                       class="btn btn-secondary"
                       asp-page-handler="BtNuevo"
                       disabled="@(Model.MetodosDePago != null)" />
                <input type="submit"
                       value="Guardar"
                       class="btn btn-secondary"
                       asp-page-handler="BtGuardar"
                       disabled="@(Model.MetodosDePago == null)" />
            </div>

            @if (Model.MetodosDePago != null)
            {
                <input type="hidden"
                       asp-for="@Model.MetodosDePago!.Id" />

                <div>
                    
                    <div class="form-group">
                        <label>
                            Metodo
                        </label>
                        <div class="col-6">
                            <input id="inMetodo"
                                   class="cts_forms form-control"
                                   asp-for="@Model.MetodosDePago!.Metodo" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            Descripcion
                        </label>
                        <div class="col-6">
                            <input id="inDescripcion"
                                   class="cts_forms form-control"
                                   asp-for="@Model.MetodosDePago!.Descripcion" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            Es digital
                        </label>
                        <div class="col-6">
                            <input type="checkbox" id="inEsDigital"
                                   
                                   asp-for="@Model.MetodosDePago!.EsDigital" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            Referencia interna
                        </label>
                        <div class="col-6">
                            <input id="inReferenciaInterna"
                                   class="cts_forms form-control"
                                   asp-for="@Model.MetodosDePago!.ReferenciaInterna" />
                        </div>
                    </div>
                   
                   
                </div>
            }
            
            @if (ViewData.ContainsKey("Mensaje"))
            {
                @await Html.PartialAsync("../Emergentes/Mensajes.cshtml")
                ;
            }

            @if (Model.MetodosDePago != null && Model.Borrando)
            {
                <div class='popup'>
                    <div class='pp_ms_inner'>
                        <div style='width:95%'>
                            <h2 align="left">
                                Mensaje
                            </h2>

                            <h6 align="left">
                                Desea borrar el metodo de pago con id?
                            </h6>
                            <h6 align="left">
                                @Model.MetodosDePago!.Id
                            </h6>
                            
                            <input type="submit"
                                   value="Cerrar"
                                   asp-page-handler="BtCerrar"
                                   class="btn btn-secondary" />
                            <input type="submit"
                                   value="Borrar"
                                   asp-page-handler="BtBorrar"
                                   class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }

            @if (Model != null &&
                 Model.Lista != null &&
                 Model.Lista.Count > 0)
            {
                <table class="tb_data table table-striped table-bordered table-hover">
                    <tr>
                        <th>Id</th>
                        <th>Metodo</th>
                        <th>Descripcion</th>
                        <th>Es digital</th>
                        <th>Referencia interna</th>
                        <th>Acciones</th>
                    </tr>
                    @foreach (var elemento in Model.Lista)
                    {
                        <tr>
                            <td>
                                @elemento.Id
                            </td>
                            <td>
                                @elemento.Metodo
                            </td>
                            <td>
                                @elemento.Descripcion
                            </td>
                            <td >
                                @elemento.EsDigital.ToString()
                            </td>
                            <td>
                                @elemento.ReferenciaInterna
                            </td>
                            <td>
                                <input type="submit"
                                       value="Modicar"
                                       asp-page-handler="BtModificar"
                                       class="btn btn-secondary"
                                       asp-route-data="@elemento.Id" />
                                <input type="submit"
                                       value="Borrar"
                                       asp-page-handler="BtBorrarVal"
                                       class="btn btn-secondary"
                                       asp-route-data="@elemento.Id" />
                            </td>
                        </tr>
                    }
                </table>
            }
        </form>
    </div>
</center>
